/**************************************
 * Colors
**************************************/
$primary: #369;
$primary-dark: #405061;

$secondary: #eee;

$white: white;
$black: black;

$txt-light: $white;
$txt-dark: $black;
